<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>营养标签生成-食品伙伴网</title>
	<link rel="stylesheet" href="{DT_SKIN}bootstrap.min.css">
	<link rel="stylesheet" href="{DT_SKIN}yybq.css">
	<script type="text/javascript" src="{DT_STATIC}lang/{DT_LANG}/lang.js"></script>
	<script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
	<script type="text/javascript" src="{DT_STATIC}file/script/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
	
	
</head>
<body>
	<div id="header">
		<div id="header_c">
			<span class='header_title'><a href="{DT_PATH}yybq">营养标签生成系统</a></span>
			<div id="banner">
				<ul>
					<li><a href="{DT_PATH}yybq">首 页</a></li>
					<li><a href="{DT_PATH}yybq/label.php">标签生成</a></li>
					<li><a href="{DT_PATH}yybq/self.php">自定义配料</a></li>
					<li><a href="#">已完成标签</a></li>
				</ul>
			</div>
			
			<div class="header_r">
				{if $_username}
					{$_username}&nbsp;&nbsp; <a href="{DT_PATH}member/logout.php">退出</a>
				{else}
				<a href="{DT_PATH}member/login.php">登录</a>&nbsp;&nbsp;<a href="{DT_PATH}member/register.php">注册</a>
				{/if}
			</div>
		</div>
	</div>