{template 'header','yybq'}
<style>
	#peiliao{
		width:1000px;
		margin:10px auto;
		border:1px solid #ccc;
		padding:20px;
		border-radius: 3px;
		background: #fff;
	}
	.red{
		color:red;
	}
</style>
<div id="container">
	<p><a href="{DT_PATH}yybq/self.php" class="btn btn-default ">手动添加配料</a>&nbsp;<a href="{DT_PATH}yybq/self.php?action=mylist" class="btn btn-default btn-info">我的自定义配料</a></p>
	<div id="peiliao">
		<table class="table table-hover">
			<tr>
				<th>分类</th>
				<th>配料名称</th>
				<th>配料代码</th>
				<th>能量(kj)</th>
				<th>蛋白质(g)</th>
				<th>脂肪(g)</th>
				<th>碳水化合物(g)</th>
				<th>钠(mg)</th>
				<th>操作</th>
			</tr>
			{loop $mylist $k $v}
				<tr>
					<td>{$v['catname']}</td>
					<td>{$v['name']}</td>
					<td>{$v['code']}</td>
					<td>{$v['Energy']}</td>
					<td>{$v['Protein']}</td>
					<td>{$v['Fat']}</td>
					<td>{$v['Carbohydrate']}</td>
					<td>{$v['Sodium']}</td>
					<td><a href="?action=self_edit&id={$v[id]}"><img src="{DT_SKIN}images/edit.png" alt="编辑" title="编辑"></a>&nbsp;&nbsp;<a href="?action=self_del&id={$v[id]}"><img src="{DT_SKIN}images/delete.png" alt="删除" onclick="return confirm('确定删除吗')" title="删除"></a></td>
				</tr>
			{/loop}
		</table>
		<div class="pages">
			{$pages}
		</div>
	</div>
</div>

{template 'footer','yybq'}